*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 70px;
    color: white;

}
h2{
    color: white;
    text-align: center;
    font-weight: bold;
}
h3{
    color: white;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
    font-weight: bold;
}
p{
    color: white;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #181818;
}
section{
    border-bottom: 0.1px solid #e9bc93;
}
.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    z-index: 1000;
    background: linear-gradient(black, rgba(0,0,0,0));
}
.logo{
    height: 45px;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.menu ul li a:hover{
    color: #e9bc93;
}
.menu-toggle{
    display: none;
    background: none;
    font-size: 25px;
    border: none;
    cursor: pointer;
    color: white;
}

.home{
    height: 100vh;
    padding-top: 30vh;
    padding-left: 15%;
    padding-right: 45%;
    background: linear-gradient(45deg,rgba(0,0,0,0.7), rgba(0,0,0,0)), url(images/background3.jpg);
    background-size: cover;
    background-position: center;
}
.home .info{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    align-items: center;
}


.home p{
    font-size: 18px;
    border-top: solid white 1px;
    padding-top: 5px;
    color: #e9bc93;
}

/* Instagram Section */

.instagram-section {
    background-color: #121212;
    padding-top: 50px;
}
    /* Styling the Section Titles */
.section-title {
    font-family: -apple-system, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 20px; /* Pulls the title closer to the cards */
    color: white;
    text-align: center;
}

.section-wrapper {
margin-bottom: 30px; /* Space between the two categories */
padding: 0 40px;
}

.instagram-scroll {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica;
}

.card {
    flex: 0 0 300px; /* Fixed width for each card */
    scroll-snap-align: start;
    border: 1px solid #e9bc93;
    border-radius: 8px;
    overflow: hidden;
    background: #e9bd9322;
}

.card img {
    width: 100%;
    aspect-ratio: 4 / 5; /* Keeps images square like Instagram */
    object-fit: cover;
    display: block;
}

.caption {
    padding: 12px;
    font-size: 14px;
    line-height: 1.4;
    color: white;
}

/* Footer */
.footer{
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5vh;

}
.footer p{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 1.6;
}
.footer div{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.social img{
    width: 35px;
    margin: 5px;
}
.contact{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.contact li{
    display: flex;
    align-items: center;
}
.contact a{
    text-decoration: none;
    color: #e9bc93;
}
.contact img{
    height: 30px;
    margin: 3px;
}


/* Modal Background Overlay */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 2000; /* Higher than navbar */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

/* The actual box */
.modal-content {
    background-color: #1a1a1a;
    color: white;
    margin: 15% auto;
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #e9bc93;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

/* Close Button */
.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Link Buttons */
.modal-links a {
    font-size: 30px;
    display: block;
    margin: 15px 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.modal-links a:hover {
    color: #e9bc93;
}



@media (max-width: 768px){

    h1{
        font-size: 35px;
    }
    .menu-toggle{
        display: block;
    }
    .menu{
        display: none;
        position: absolute;
        top: 60px;
        right: 30px;
        background: black;
        width: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .menu.active{
        display: block;
    }
    .menu ul{
        flex-direction: column;
        padding: 10px;
    }
    .menu ul li{
        margin-bottom: 10px;
    }
    .menu ul li:last-child{
        margin-bottom: 0;
    }
    .home{
        text-align: center;
        padding-top: 55vh;
        padding-left: 15%;
        padding-right: 15%;
        background: linear-gradient(45deg,rgba(0,0,0,0.7), rgba(0,0,0,0)), url(images/background2.jpg);
        background-size: cover;
        background-position: center;
    }
    .home .info{
        display: block;
        gap: 20px;
        align-items: center;
    }
    .home .info p{
        font-size: 16px;
    }
    .section-wrapper {
        padding: 0 20px;
    }
    /* The actual box */
.modal-content {
    margin-left: 10%;
    margin-right: 10%;
}


/* Link Buttons */
.modal-links a {
    font-size: 20px;
}
}

@media (max-width: 768px){
    .footer div{
        flex-direction: column;
        gap: 20px;
    }
}


